<ion-header>
    <ion-toolbar class="ion-no-padding">
        <app-header title="Dashboard"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img alt="placeholder-content" src="assets/mock-dashboard.png"/>

    <ion-fab
            horizontal="end"
            routerDirection="forward"
            routerLink="/match"
            slot="fixed"
            vertical="bottom"
    >
        <ion-fab-button>
            <ion-icon name="qr-scanner"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
