<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="conference">
          <ion-icon name="globe"></ion-icon>
          <ion-label>Konferenzen</ion-label>
    </ion-tab-button>

      <ion-tab-button tab="home">
      <ion-icon name="apps"></ion-icon>
          <img alt="logo" class="favicon" src="assets/icon/favicon.png">
          <ion-label>CodeCamp HN</ion-label>
    </ion-tab-button>

      <ion-tab-button tab="dashboard">
          <ion-icon name="tv"></ion-icon>
          <ion-label>Dashboard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
