<ion-header>
    <ion-toolbar class="ion-no-padding">
        <app-header [isLoggedIn]="false" title="Profil"></app-header>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="user__header">
        <div class="user__title">Dein Account</div>
        <div>Lass' dich scannen, um ein Matching zu finden und Kontakte zu knüpfen!</div>
        <qr-code
                errorCorrectionLevel="L"
                size="300"
                value="{{user.role + ':5dd011af4ca4823874e9fefb'}}"
        ></qr-code>

        <div class="user__basics">
            <img alt="avatar" class="user__avatar" src="{{user.url}}">
            <span>
        <div class="user__fact">
          <div class="user__fact user__fact--emphasized"> Name:</div>
          <span class="user__fact">{{user.name}}</span></div>
        <div class="user__fact">
          <div class="user__fact user__fact--emphasized"> Rolle:</div>
          <span class="user__fact">{{user.role | mapRole}}</span></div>
      </span>
    </div>
    </div>

    <ion-list class="user__list jobs">
        <ion-list-header class="user__list-header">
            Jobs
            <ion-fab-button size="small">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-list-header>
        <app-add-info-form label="Job hinzufügen"></app-add-info-form>
        <div *ngFor="let item of user.jobList">
            <ion-item class="job__name">
                <ion-icon name="arrow-dropdown" slot="start"></ion-icon>
                {{item}}
                <ion-icon color="secondary" name="close-circle" slot="end"></ion-icon>
            </ion-item>
            <div class="job__content tag-group">
                <div class="tag-group__existing">
                    <app-tag [tag]="convertToTag('req', 'skill')"></app-tag>
                    <app-tag [tag]="convertToTag('req2', 'skill')"></app-tag>
                    <ion-fab-button size="small">
                        <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                </div>
                <app-add-info-form class="job__add" label="Skill zu Job hinzufügen"></app-add-info-form>
            </div>
        </div>
    </ion-list>
    <ion-list-header class="user__list-header">
        Skills
        <ion-fab-button size="small">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-list-header>
    <div class="tag-group">
        <div class="tag-group__existing">
      <span *ngFor="let item of user.skillList">
      <app-tag [tag]="item"></app-tag>
    </span>
    </div>
        <app-add-info-form class="job__add" label="Skill zu Job hinzufügen"></app-add-info-form>
    </div>

    <ion-list-header class="user__list-header">
        Interessen
        <ion-fab-button size="small">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-list-header>
    <div class="tag-group">
        <div class="tag-group__existing">
      <span *ngFor="let item of user.interestList">
      <app-tag [tag]="item"></app-tag>
    </span>
    </div>
        <app-add-info-form class="job__add" label="Skill zu Job hinzufügen"></app-add-info-form>
    </div>

    <ion-list-header class="user__list-header">
        Orte
        <ion-fab-button size="small">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-list-header>
    <div class="tag-group">
        <div class="tag-group__existing">
          <span *ngFor="let item of user.locationList">
      <app-tag [tag]="item"></app-tag>
    </span>
    </div>
        <app-add-info-form class="job__add" label="Skill zu Job hinzufügen"></app-add-info-form>
    </div>

    <ion-list>
        <ion-list-header class="user__list-header">
            Links
            <ion-fab-button size="small">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-list-header>
        <ion-item *ngFor="let item of user.linkList">
            <a class="user__link" href="{{item}}">{{item}}</a>
            <ion-icon color="secondary" name="close-circle" slot="end"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-button routerDirection="root" routerLink="/">Abmelden</ion-button>

    <ion-fab
            horizontal="end"
            routerDirection="forward"
            routerLink="/match"
            slot="fixed"
            vertical="bottom"
    >
        <ion-fab-button>
            <ion-icon name="qr-scanner"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
