<ion-header>
    <ion-toolbar class="ion-no-padding">
        <app-header [isLoggedIn]="false" title="Profil"></app-header>
    </ion-toolbar>
</ion-header>

<ion-content>
    <qr-code errorCorrectionLevel="L" size="300" value="5dd011af4ca4823874e9fefb"></qr-code>

    <p>Name: {{user.name}}</p>
    <ion-button routerDirection="root" routerLink="/">Abmelden</ion-button>

    <ion-fab horizontal="end" routerDirection="forward" routerLink="/match" slot="fixed" vertical="bottom">
        <ion-fab-button>
            <ion-icon name="qr-scanner"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
