.user {
  &__header {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  &__basics {
    display: flex;
    align-items: center;
    justify-content: center;

    .user__avatar {
      margin-left: 40px;
      border-radius: 25px;
      object-fit: cover;
      width: 100px;
      height: 100px;
    }

    .user__fact {
      margin: 6px;
      display: inline-block;

      &--emphasized {
        font-weight: bold;
        width: 60px;
      }
    }
  }

  &__link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  &__list-header {
    background-color: papayawhip;
  }
}

.tag-group {
  margin: 8px 8px 16px;

  &__existing {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
}
