<ion-header>
    <ion-toolbar class="ion-no-padding">
        <app-header [isLoggedIn]="false" title="Matching"></app-header>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="retry()">Erneut scannen</ion-button>

    <zxing-scanner (scanSuccess)="scanSuccessHandler($event)" *ngIf="!scanSuccess"></zxing-scanner>
    <p *ngIf="scannedId">{{scannedRole | mapRole}} {{scannedId}}</p>

    <div *ngIf="scannedRole==='company'" class="match--company">
        <ion-item class="match__title">
            {{companyMatch.name}}: {{companyMatch.matching}}
            <ion-fab-button size="small" slot="end">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-item>

        <ion-list class="user__list jobs">
            <ion-list-header>Jobs</ion-list-header>
            <div *ngFor="let item of companyMatch.jobList">
                <ion-item class="job__name">
                    {{item.name}} - {{item.matching}}
                </ion-item>
            </div>
        </ion-list>
    </div>
    <!-- *ngIf="scannedRole==='candidate'" -->
    <div class="match--candidate">
        <ion-item class="match__title">
            {{userMatch.name}}
            <ion-fab-button size="small" slot="end">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-item>

        <ion-list>
            <ion-list-header>Skills</ion-list-header>
            <div class="tag-group">
        <span *ngFor="let item of userMatch.skillList">
          <app-tag [tag]="item"></app-tag>
        </span>
            </div>
        </ion-list>
        <ion-list>
            <ion-list-header>Interessen</ion-list-header>
            <div class="tag-group">
        <span *ngFor="let item of userMatch.interestList">
          <app-tag [tag]="item"></app-tag>
        </span>
            </div>
        </ion-list>
        <ion-list>
            <ion-list-header>Orte</ion-list-header>
            <div class="tag-group">
        <span *ngFor="let item of userMatch.locationList">
          <app-tag [tag]="item"></app-tag>
        </span>
            </div>
        </ion-list>
    </div>
</ion-content>
