<ion-header>
    <ion-toolbar class="ion-no-padding">
        <app-header [isLoggedIn]="false" title="KangooNet"></app-header>
    </ion-toolbar>
</ion-header>

<ion-content class="kangoo-net" padding>
    <p class="kangoo-net__text">
        Zeig' die Anwendung deinen Freunden, damit auch sie ihren Sprung in den neuen Job wagen können!
    </p>
    <div class="kangoo-net__code">
        <qr-code errorCorrectionLevel="L" size="250" value="https://rebrand.ly/KangooNet"></qr-code>
    </div>
    <p class="kangoo-net__text">
        Das Känguru dankt. Viel Spaß noch!
    </p>
    <img alt="kangaroo" class="kangoo-net__image" src="assets/kangaroo.jpg">
</ion-content>
