<ion-content>
  <div class="landing">
    <div class="landing__header">
      <img alt="logo" class="landing__logo" src="assets/icon/logo.png"/>
      <div class="landing__subtitle">
        Dein Sprung in den neuen Job!
      </div>
    </div>

    <div class="landing__form">
      <ion-item class="landing__name-input">
        <ion-label position="floating">Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button routerDirection="root" routerLink="/tabs">Anmelden</ion-button>
      <ion-button routerDirection="root" routerLink="/register">Registrieren</ion-button>
    </div>

    <div>
      <p>Disclaimer:</p>
      <p>Dies ist eine Demo Version. Dynamische Inhalte folgen in Kürze!</p>
    </div>
  </div>
</ion-content>
